# OS-specific files
.DS_Store
Thumbs.db

# ----------------------------
# Go Backend (polaris-backend)
# ----------------------------

# Build artifacts
polaris-backend/tmp/
polaris-backend/tmp/*
polaris-backend/bin/
polaris-backend/.DS_Store

# ----------------------------
# Next.js Frontend (polaris-dashboard)
# ----------------------------

# Node modules and build artifacts
polaris-dashboard/node_modules/
polaris-dashboard/.next/
polaris-dashboard/out/

# ----------------------------
# Environment and secret files
# ----------------------------

# Local environment variables
# .env
# .env.local
# .env.*.local

# ----------------------------
# Log files
# ----------------------------

*.log

# ----------------------------
# Docker related
# ----------------------------
