@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    overflow: hidden;
}

.dashboard-container {
    position: fixed;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.map-section {
    background-color: white;
    padding: 16px;
    width: 800px;
    height: 450px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 2rem;
}

.main-content {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    justify-content: flex-end;
    width: calc(100% - 256px);
    padding: 40px;
} 