.dashboard-container {
    display: flex;
    flex-direction: row;
    height: 100vh;
}

.map-section {
    background-color: white;
    padding: 16px;
    width: 45%;
    max-width: 900px;
    height: 450px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-content {
    flex-grow: 1;
    width: calc(100% - 256px);
    padding: 40px;
    margin-left: 256px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.data-panel {
    width: 35%;
    background-color: white;
    padding: 16px;
    margin-left: auto !important;  /* 데이터를 오른쪽으로 이동 */
}
